<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
              <span class="navbar-toggler-icon"></span>
            </button> -->

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false" (click)="toggleCollapse()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']"></a>
    </div>


    <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" (click)="toggleCollapse()">
        <li>
          <a [routerLink]="['/todo']" routerLinkActive="active">Todo
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>