<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between align-items-center td-list-item" [class.done]="todo?.isComplete"
    *ngFor="let todo of todos" [class.hidden]="isHidden(todo)">
    <span *ngIf="!todo.link" class="td-todo-text">{{todo?.taskName}}</span>
    <a *ngIf="todo.link" href="{{todo?.link}}" target="_blank" class="td-todo-text">{{todo?.taskName}}</a>
    <span class="badge badge-info ml-2">{{todo?.queueing}}</span>
    <div class="td-btn-list-wrapper">
      <button type="button" class="btn btn-info ml-2" aria-label="Edit" (click)="edit(todo)">
        <i class="mdi mdi-pencil" aria-hidden="true"></i>
        <span class="d-none d-lg-inline">Edit</span>
      </button>
      <button type="button" class="btn btn-danger ml-2" aria-label="Delete" (click)="delete(todo)">
        <i class="mdi mdi-delete" aria-hidden="true"></i>
        <span class="d-none d-lg-inline">Delete</span>
      </button>
    </div>
    <div class="btn-group td-btn-list-dropdown ml-2" dropdown placement="bottom right">
      <button dropdownToggle type="button" class="btn btn-default dropdown-toggle td-more-btn ml-2" aria-label="More">
        <i class="mdi mdi-dots-vertical" aria-hidden="true"></i>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem">
          <a class="dropdown-item edit-link" (click)="edit(todo)">
            <i class="mdi mdi-pencil mr-1" aria-hidden="true"></i>Edit</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item delete-link" (click)="delete(todo)">
            <i class="mdi mdi-delete mr-1" aria-hidden="true"></i>Delete</a>
        </li>
      </ul>
    </div>
  </li>
</ul>

<h3 class="text-center" *ngIf="isAllDone(todos) && todosViewStatus === todoStatusType.NOTDONE">You finished all your todos.</h3>
<h3 class="text-center" *ngIf="isOneDone(todos) && todosViewStatus === todoStatusType.DONE">Finish at least one todo.</h3>