.td-todo-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;

}

.td-btn-list-wrapper {
    @media (max-width: 767px) { 
        display: none;
    }
}

.td-btn-list-dropdown {
    display: none;

    @media (max-width: 767px) { 
        display: block;
    }

}
.done {
    .td-todo-text {
        text-decoration: line-through;
        color: #ddd;
    }
    .badge {
        background-color: #ddd;
    }
    button.btn {
        border-color: #ddd;
        color: #ddd;
    }

    button.btn:hover {
        border-color: transparent;
    }
}

.td-more-btn::after {
    display: none;
}

a {
    cursor: pointer;

    &.edit-link, &.edit-link:hover {
        color: #17a2b8;
        i {
            color: #17a2b8;
        }
    }

    &.delete-link, &.delete-link:hover {
        color: #dc3545;
        i {
            color: #dc3545;
        }
    }
}

.td-list-item {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s;

    &.hidden {
        height: 0px;
        opacity: 0;
        visibility: hidden;
        margin: 0;
        padding: 0;
        box-shadow: 0;
        border: 0;
    }
}
